body {
  color: #000000;
  background-color: beige;
  margin-left: 15%;
  margin-right: 15%; 
  font-family: 'Ubuntu';
}
.container {
  background-color: #dcdcdc;
  padding: 1em; 
  width: 90%
}

a {
  color: maroon;
}
a:link {
  text-decoration: none; 
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

h1        { color: rgb(40,0,0); }
h2        { color: rgb(96,0,0); }
h3 { 
    color: #339933; 
    text-shadow: 0.1em 0.1em white;
}
h4        { color: navy; }
a.header  { color: navy; }
a.header:hover {
  color: black;
  text-decoration: underline;
}

p {
  text-indent: -1px;
  margin-left: 1em;
  margin-top: 0.50em;
  margin-bottom: 0.50em;
}
.rcs {
  margin-top: 2em;
}
.footer {
  width: 100%;
  border-top: 1px solid #000042;
  margin-top: 2em;
}
.footer p {
  text-indent: 0em;
  font-size: 75%;
  clear: none;
}

i.postdate {
  color: green;
  font-size: 0.8em;
}

i.categories {
  color: orange;
  font-size: .85em;
}

ul {
  list-style-type: square;
}
dt {
  font-weight: bold;
  font-size: 110%;
}

pre { 
    font-size: 1em;
    font-family: 'Ubuntu Mono';
}
.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }

.post-content {
  columns: 250px 3;
  -webkit-columns:250px 3; /* Safari and Chrome */
  -moz-columns:350px 3; /* Firefox */
}

